@{
    ViewData["Title"] = "Login";
}
@model Customer
<h1> MY ACCOUNT PAGE</h1>
<ul>

    <li>@Model.Name</li>
    <li>@Model.Surname</li>
    <li>@Model.Password</li>
    <li>@Model.Id</li>


    <h1> Sepetiniz ::</h1>

    <h3> @Model.Basket</h3>

</ul>

                        


                          
