@using ReDoProject.Domain.Entities
@model List<Instrument>

<head>
    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .column {
            flex: 1;
            padding: 10px;
            max-width: 25%; /* Her sütun en fazla 25% genişliğinde olacak */
        }
    </style>
</head>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card" style="width:100%;">
                <a href="/instrument/inspect/@product.Id">
                    <img class="card-img-top" src="@product.PictureUrl" alt="Card image">
                </a>
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">
                        @if (product.Description.Length > 30)
                        {
                            @product.Description.Substring(0, 30)
                            <span>...</span>
                        }
                        else
                        {
                            @product.Description
                        }
                    </p>

                    <a href="/instrument/inspect/@product.Id" class="btn btn-primary">Inspect</a>
                </div>
            </div>
        </div>

    }
</div>
<br /><br /><br />