@using ReDoProject.Domain.Entities;
@model Instrument
   
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <img src="@Model.PictureUrl" alt="Product Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2 class="my-3">@Model.Name</h2>
                    <p>@Model.Description</p>
                    <p>Price: $@Model.Price</p>
                    @if (User.IsInRole("Admin"))
                    {<a type="submit" asp-route-id="@Model.Id" asp-controller="Instrument" asp-action="Delete" class="btn btn-outline-danger">Delete Product</a>}

                    <div class="quantity-control">
                        <button class="decrease-quantity" onclick="decreaseQuantity()">-</button>
                        <span id="product-quantity">1</span>
                        <button class="increase-quantity" onclick="increaseQuantity()">+</button>
                    </div>
                 
                        <input type="hidden" id="quantity" name="quantity" value="1">
                        <a type="submit" asp-route-id="@Model.Id" asp-controller="Instrument" asp-action="AddBasket" class="btn btn-outline-success">Add Basket</a>
                     
                </div>

            </div>

        </div>
   
    <script>function increaseQuantity() {
            var quantity = parseInt(document.getElementById("product-quantity").textContent);
            document.getElementById("product-quantity").textContent = quantity + 1;
        }

        function decreaseQuantity() {
            var quantity = parseInt(document.getElementById("product-quantity").textContent);
            if (quantity > 1) {
                document.getElementById("product-quantity").textContent = quantity - 1;
            }
        }</script>
