

@using ReDoProject.Domain.Enums;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ReDoProject.MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/ReDoProject.MVC.styles.css" asp-append-version="true">
      
</head>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ReDoProject.MVC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/ReDoProject.MVC.styles.css" asp-append-version="true">
</head>
<body>
    <!-- Header -->
    <header class="bg-primary py-4">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <!-- Buraya bir logo alayım-->
            <a class="navbar-brand text-white" asp-area="" asp-controller="Instrument" asp-action="Index"> Re Do Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Brand" asp-action="Index">Show Brand</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Instrument" asp-action="Index">Show Instruments</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Log" asp-action="Index">Logs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Instrument" asp-action="Add">Add Instruments</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Brand" asp-action="Add">Add Brand</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="AllCustomers">All Orders</a>
                        </li>
                    }

                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Account" class="nav-link">My Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Logout" asp-controller="Account" class="nav-link">Log Out</a>
                        </li>



                        <a href="/account/basket">
                            <div class="basket-container">
                                <div class="basket">
                                    <i class="icon ion-ios-basket">
                                        <img src="https://cdn-icons-png.flaticon.com/512/5218/5218600.png" width="30" />

                                    </i>
                                    <span class="basket-count">@TempData["basketCount"]</span>
                                </div>
                            </div>
                        </a>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                        </li>
                    }



                </ul>


            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link" href="/Instrument">All</a>
                                @foreach (InstrumentType instrumentType in Enum.GetValues(typeof(InstrumentType)))
                                {
                                    <a class="nav-item nav-link" href="@Url.Action("ListByInstrumentType", "Instrument", new { instrumentType = instrumentType })">@instrumentType.GetDescription()</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>

    </header>


    <!-- Main Content Container -->
    <div class="container mt-4">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->

    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Re Do Project © 2023</p>
        </footer>
    </div>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
